body{
  margin: 5px;
  padding: 5px;
  text-align: center;
  background-color: aqua;
}
button{
  padding: 10px;
  border-radius: 30px;
  margin: 10px;
  border: none;
  background-color: greenyellow;
}
#random{
  background-color: blue;
  color: white;
  padding: 20px;
}
#counter{
  background-color: blueviolet;
  color: white;
  padding: 20px;
  margin-top: 10px;
}